#!/usr/bin/fisher

if type -q fisher
    # Install Fisher
    echo "Installing fisher."
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source
end

fisher update
