#!/bin/sh
{{- if .isWorkComputer }}
    exit 0
{{- end }}

{{- if eq .chezmoi.os "linux" }}
set -x
sudo apt install fzf

# Install Fish
yes | sudo apt-add-repository ppa:fish-shell/release-3
sudo apt update
sudo apt install fish

{{- end -}}
