#!/bin/sh
{{- if .isWorkComputer }}
    exit 0
{{- end }}

{{- if eq .chezmoi.os "linux" }}
set -x

# Install Fish
yes | sudo apt-add-repository ppa:fish-shell/release-3
sudo apt update
sudo apt install fish

# Install Mise: https://mise.jdx.dev/cli/use.html
# Dev tool installer and tool version manager like nvm, etc.
curl https://mise.run | sh
mise install

{{- end -}}
