[user]
        name = "Ryan Sandoval"
        email = {{ .email | quote }}
[core]
	editor = vim
[alias]
        c = commit
        s = status
        d = diff
        ds = diff --staged
        a = add
        ll = log --graph --pretty=format:'%Cred%h%Creset  -%C(auto)%d%Creset %s %Cgreen(%ch, %cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit


